
# Created by https://www.gitignore.io/api/cmake

### CMake ###
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
cmake-build-debug/*
build/*

tests/test_graph_gen/*.gv
tests/test_graph_gen/*.gv.png
tests/test_graph_gen/*.png

src/plugins/*.ll
test.c
test.ll
# End of https://www.gitignore.io/api/cmake